{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Freeshelf</title>
</head>

<body>
    <header>
        <div id="title">
            <h1>Freeshelf</h1>
                {% if user.is_authenticated %}
            <li>You are logged in. Hello, {{ user.username }} &#128059;</li>
                {% endif %}
            <li><a href="{% url 'home' %}">Home</a></li>
        </div>
    </header>
    {% block content %}
    {% endblock%}
</body>
</html>